{% load static %}
<!doctype html>
<html lang="es" data-theme="ine2026">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Cuadro de Mando Integral">
  <meta name="author" content="Javier Sanchez Toledano <javier.sanchezt@ine.mx>">

<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{% static 'img/favicons/cropped-faviconI_NE_2026-32.png' %}"
>

<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="{% static 'img/favicons/cropped-faviconI_NE_2026-192.png' %}"
>

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{% static 'img/favicons/cropped-faviconI_NE_2026-180.png' %}"
>

<meta
  name="msapplication-TileImage"
  content="{% static 'img/favicons/cropped-faviconI_NE_2026-270x270.png' %}"
>

  <title>{% block title %}{% endblock %} - SGC Tlaxcala</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
  <link href="{% static 'css/ine2026.css' %}"
      rel="stylesheet"
      type="text/css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/5.3.5/apexcharts.min.js" integrity="sha512-dC9VWzoPczd9ppMRE/FJohD2fB7ByZ0VVLVCMlOrM2LHqoFFuVGcWch1riUcwKJuhWx8OhPjhJsAHrp4CP4gtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
  {% block head %}{% endblock head %}
</head>

<body class="min-h-screen">
  {% include 'cerebro/partials/_navbar.html' %}

  {% include 'cerebro/partials/_carrousel.html' %}

  <main class="container mx-auto max-w-screen-xl px-4 py-8">
    {% block content %}{% endblock content %}
  </main>

  {% include 'cerebro/partials/_footer.html' %}
  {% block scripts %}{% endblock scripts %}
</body>

</html>
